<h2 class="text-center">All Tools</h2>

<div class="grid md:gap-4 grid-cols-1 md:grid-cols-3">

    <div class="rounded mb-4 grid relative content-center gap-2 lg:gap-4 h-full bg-slate-800"
        *ngFor="let tool of this.tools">

        <div class="max-w-sm w-full lg:max-w-full lg:flex">
            <div class="h-48 lg:h-auto lg:w-48 rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
                <img class="w-2/3 mx-auto" [src]="tool.icon">
            </div>
            <div class="rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                <div class="mb-8">
                    <p class="text-sm text-white flex items-center">
                        {{ tool.category }}
                    </p>
                    <div class="text-white font-bold text-xl mb-2">{{ tool.name }}</div>

                </div>
            </div>

        </div>

        <p class="text-white text-base px-4 py-0 ">{{ tool.description }}</p>

        <button class="bg-slate-500 hover:bg-slate-600 text-white font-bold py-2 px-4 rounded-full mx-4"
            [routerLink]="tool.url">
            OPEN
        </button>
    </div>
</div>