<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/img/logo-white.svg" class="logo"> WebDevTools <small>v0.0.2</small>
    </a>

    <div class="search">
      <div class="input-group">
        <a class="input-group-text pointer" (click)="this.search()">
          <mat-icon class="search-icon black">search</mat-icon>
        </a>
        <input type="text" class="form-control" placeholder="Search for a tool..." [(ngModel)]="this.searchTerm">
      </div>
    </div>

    <div class="right hide-sm">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Fav</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tools">Tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cheatsheets">Cheatsheets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Mario-Greiner" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>