.spacer {
    flex: 1 1 auto;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .pr-25 {
    padding-right: 25px;
  }

  nav a {
    color: #fff;
  }

  .search {
    min-width: 20%;
  }

  .right {
    float: right;
  }