.cursors-card {
    margin: 15px;
  }
  
  .block {
    display: block;
  }
  
  .star {
    color: #f2ff00;
  }

.preview-area {
    margin-top: 1.5em;
    border-radius: 15px;
    min-width: 400px;
    min-height: 500px;
    background-color: #bdbdbd;
    color: #292929;
  }

  .prev {
    margin-top: 10rem;
  }