.device-card {
    margin: 15px;
  }
  
  .w-100 {
    width: 100%;
  }
  
  .w-50 {
    width: 50%;
  }
  
  .black {
    color: #000;
  }

  .mb-25 {
    margin-bottom: 25px;
  }
  
  pre {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #fff;
  }
  
  .star {
    color: #f2ff00;
    float: right;
  }
  