.base64-card {
  margin: 15px;
}

.copy {
  float: right;
}

.copy:hover {
  cursor: pointer;
}

.preview {
  max-width: 500px;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.block {
  display: block;
}

pre {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #fff;
}

.mt-25 {
  margin-top: 25px;
}