<mat-card class="base64-card">
    <mat-card-header>
        <mat-card-title>
            Base64 Encode/Decode
            <button mat-icon-button color="primary" (click)="this.addToFav()">
                <mat-icon class="star">{{this.isFav ? 'star':'star_border'}}</mat-icon>
            </button>
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="w-100">
            <mat-label>Input</mat-label>
            <textarea matInput placeholder="Hi :)" [(ngModel)]="this.input"></textarea>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Choose an action</mat-label>
            <mat-select [(ngModel)]="this.action">
                <mat-option value="encode">Encode</mat-option>
                <mat-option value="decode">Decode</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="this.showOutput">
            <strong>Output:</strong><br>
            <pre><code>{{ this.output }}</code></pre>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <a mat-flat-button class="block" (click)="this.handleInput()">RUN</a>
    </mat-card-actions>
</mat-card>