<mat-card>
    <mat-card-header>
        <mat-card-title>
            base64 Encode/Decode
            <button mat-icon-button color="primary" (click)="this.addToFav()">
                <mat-icon>{{this.isFav ? 'star':'star_border'}}</mat-icon>
            </button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-form-field class="text-sm rounded-lg w-full placeholder-black" appearance="fill">
            <mat-label class="">Choose an input type</mat-label>
            <mat-select [(ngModel)]="this.type" (valueChange)="this.showOutput = false">
                <mat-option value="txt">Text</mat-option>
                <mat-option value="img">Image</mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="this.type == 'txt'">
            <mat-form-field class="text-sm rounded-lg w-full placeholder-black">
                <mat-label class="">Input</mat-label>
                <textarea class="placeholder-black " matInput placeholder="Hi :)" [(ngModel)]="this.input"></textarea>
            </mat-form-field>

            <mat-form-field class="text-sm rounded-lg w-full placeholder-black" appearance="fill">
                <mat-label class="">Choose an action</mat-label>
                <mat-select class=" placeholder-black" [(ngModel)]="this.action">
                    <mat-option value="encode">Encode</mat-option>
                    <mat-option value="decode">Decode</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div *ngIf="this.type == 'img'">
            <input class="" type="file" (change)="setImage($event)" />
        </div>

        <div class="mt-25" *ngIf="this.showOutput">
            <p class=""><strong>Output:</strong><span class="copy" (click)="this.copyText()">Copy</span></p>
            <textarea class=" placeholder-black" matInput [(ngModel)]="this.output" rows="5"></textarea>
        </div>

        <div *ngIf="this.type == 'img'">
            <p class="">Preview:</p>
            <img [src]="this.output" alt="Preview Image" class="preview">
        </div>

        <button (click)="this.handleInput()"
            class="w-full  bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Run</button>

    </mat-card-content>
</mat-card>