<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 mt-40">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="text-center text-5xl font-bold leading-9 tracking-tight text-gray-900">WebDevTools
        </h2>
        <p>by <a href="https://PixelFox.io"></a>PixelFox.io</p>
        <h5 class="text-center leading-9 tracking-tight text-gray-900">v0.1.0 <small>BETA</small></h5>
    </div>

    <p class="pt-20 text-center text-sm text-gray-500">
        Sourcecode on
        <a href="https://github.com/Mario-Greiner/WebDevTools" target="_blank"
            class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">GitHub</a>
    </p>
</div>